* {
    padding: 0;
    margin: 0;
}

#gameTemplate {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main{
    background-image: url(../img/wallpaper.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    text-align: center;
    color: rgb(247, 0, 255);
    font-size: 70px;
}

#gameSection {
    display: flex;
    justify-content: space-around;
    gap: 200px;
}


#gameSection div {
    height: 370px;
    width: 350px;
    border-radius: 5%;
    background-color: rgb(247, 0, 255);
    overflow: hidden;
    text-align: center;
    box-shadow: 6px 6px 4px rgb(165, 1, 171);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameSection div h2 {
    color: white;
    margin-top: 30px;
    margin-bottom: 10px;
}

#gameSection img {
    width: 100%;
}

main h3 {
    color: white;
    align-self: flex-start;
    font-size: 30px;
}

#gameTemplate h4 {
    color: white;
    text-align: left;
    font-size: 30px;
    align-self: flex-start;
}


#gameTemplate h4 {
    color: white;
    font-size: 30px;
}

#sectionError {
    background-color: red;
    color: white;
    width: 800px;
    height: 100px;
    display: flex; 
    justify-content: center;
    align-items: center; 
}

#sectionError p {
    text-align: center;
}


.etoile {
    display: flex;


}

.starsImg {
    width: 40px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.imageArticleContainer {
    margin-bottom: 20px; 
    position: relative;
    width: 100%;
    height: 600px;
}

.imageArticleContainer img {
   
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imageArticleContainer article{
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: rgba(11, 0, 27, 0.7);
    top: 0;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.imageArticleContainer h4{
   text-align: center;
   font-size: 40px;
}
.imageArticleContainer h5{
    margin-left: 50%;
    font-size: 15px;
}
 
 .imageArticleContainer p{
    font-size: 18px;
    width: 80%;
 }

/* positioner l'article en fonction de son parent */
.articleGauche{
    right: 0;
    top: 50px;
}

.articleDroite{
    left: 0;
}