* {
    padding: 0;
    margin: 0;
}

#gameTemplate {
    height: 100vh;
    background-color: aquamarine;
    background-image: url(../img/wallpaper.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    text-align: center;
    color: rgb(247, 0, 255);
    font-size: 70px;
}

#gameSection {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

#gameSection div {
    height: 370px;
    width: 350px;
    border-radius: 5%;
    background-color: rgb(247, 0, 255);
    overflow: hidden;
    text-align: center;
    box-shadow: 6px 6px 4px rgb(165, 1, 171);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameSection div h2 {
    color: white;
    margin-top: 40px;
    margin-bottom: 10px;
}

#gameSection img {
    width: 100%;
}

main h3 {
    color: white;
    position: absolute;
    top: 45%;
    left: 150px;
    font-size: 30px;
}

main h4 {
    color: white;
    position: absolute;
    left: 150px;
    top: 90%;
    font-size: 30px;
}

#sectionError {
    background-color: red;
    color: white;
    width: 800px;
    height: 30px;

}


.etoile {
    display: flex;
   
    
}
.starsImg {
    width: 40px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
